.button {
  padding: 13px 41px;
  font-size: 16px;
  font-weight: 600;
  color: #FF6882;
  cursor: pointer;
  background-color: #2DFFF2;
  border: none;
  border-radius: 5px;
  outline: none;
}

div.button {
  display: inline-block;
}

.button.round {
  padding: 9px 22px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #494949;
  border-radius: 9999px;
}
